.favorite table{
    border: 10px solid  #d79948;

}


.favorite td{
    border: 5px solid #d79948;
    text-align: center;
    color: black;
    font-size: 20px;

}

.favorite thead{
    background-color: #c96e59;
}



.favorite a{
    color: black;
    font-size: 20px;
    text-decoration: none;    
}

.favorite{
    font-family: Comic Sans MS, Helvetica, sans-serif; 
}

.favorite h2 {
    color: #d79948;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Comic Sans MS, Helvetica, sans-serif;
    text-decoration: none;
}

.favorite .info{
    color: #9b5448;
    font-size: 20px;
}


.favorite select {
    width: 20%;
    box-sizing: border-box;
    border: 3px solid  #9b5448;
    border-radius: 4px;
    font-size: 16px;
    background-color: #d79948;
    opacity: 0.9;
}

.favorite h1 {
    color: #9b5448;
    font-size: 30px;
    font-weight: bold;
    font-family: Comic Sans MS, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

.favorite .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    border: 3px solid #d79948;
    
}

.favorite .saveBtn {
    box-sizing: border-box;
    color: black;
    font-family: Comic Sans MS, Helvetica, sans-serif;
    text-decoration: none;
    width: 50%;
    padding: 20px;
    
}

.favorite .saveBtn a {
    background-color: #9b5448;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    padding: 20px;
    border: 10px solid  #d79948;
}

.favorite .saveBtn a:hover {
    opacity:1;
}





