
.restore * {
	box-sizing: border-box;
        color: black;
        font-family: Comic Sans MS, Helvetica, sans-serif;
        text-decoration: none;
}
/* Full-width input fields */
.restore input[type=text], input[type=password], input[type=email] , input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
}

/* Add a background color when the inputs get focus */
.restore input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}



/* Set a style for all buttons */
.restore a {
    background-color: #90dfaa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

.restore a:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.restore .cancelbtn {
    padding: 14px 20px;
    background-color: #f1543f;
}

/* Float cancel and signup buttons and add an equal width */
.restore .cancelbtn, .restore .restorebtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.restore .container {
    padding:0px 16px 16px 16px;
}

/* The Modal (background) */
.restore {
    left: 0;
    width: 100%; /* Full width */
    background-color: white;

}



/* Modal Content/Box */
.restore-content {
    background-color: #c96e59;
    margin: 2% auto 2% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
    height: auto;
    border: 10px solid #9b5448;
}

/* Style the horizontal ruler */
.restore hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.restore .close:hover,
.restore .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.restore .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
