<div id="restore" class="restore">
<form class="restore-content">
    <div class="container">
    <h1>Password Restore</h1>
    <p>Please fill in this form to retrieve your password</p>
        <hr>
        <label for="name"><b>Username</b></label>
        <input type="text" id="Sname" ng-model="user.username" placeholder="Enter Your Name" name="name" required autofocus>

        <label for="questionA"><b>What is your father's name?</b></label>
        <input type="text" id="ansa" ng-model="user.ansewer1" placeholder="Answers that will be used when retrieving a password" name="questionA" required>

        <label for="questionB"><b>In which hospital were you born?</b></label>
        <input type="text" id="ansb" ng-model="user.ansewer2" placeholder="Answers that will be used when retrieving a password" name="questionB" required>        
        
        <div class="clearfix">
            <a id="show_welcome" class="cancelbtn" href="#/">Cancel</a>
            <a id="btnValidateSignUp" class="restorebtn" ng-click="restore()" >Restore</a>
        </div>
        <span ng-model="passwordRestoreCtrl.password">Your Password: {{passwordRestoreCtrl.password}}</span>
        
    </div>
</form>
    
</div>
    