<div class="header">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <ul>
        <li><a class="active" href="#/" ng-if="!object.isLoggedIndex">Home</a></li>
        <li><a class="active" href="#/homeLogin" ng-if="object.isLoggedIndex" >HomeLogin</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/allPoi">POI</a></li>
        <li><a href="#/register"  ng-if="!object.isLoggedIndex" >Register</a></li>
        <li><a href="#/login"  ng-if="!object.isLoggedIndex" >Login</a></li>
        <div class="icon-bar">
            <a ng-click="signOut()" ng-if="object.isLoggedIndex" >Sign Out</a>
            <a href="#/favorite"  ng-if="object.isLoggedIndex"><i class="fa fa-heart"></i></a> 
        </div>
        <span>hello {{object.userNameIndex}}</span>
        
    </ul>

</div>

