<di class="header">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <ul>
        <li><a class="active" href="#/">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/allPoi">POI</a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Login</a></li>
        <div class="icon-bar">
            <a href="#/favorite"><i class="fa fa-heart"></i></a> 
        </div>
        <span ng-model="indxCtrl.userName">hello {{indxCtrl.userName}}</span>
    </ul>

</di>

