
<div class="homeLogin" >
    </br>
    </br>
    <img class="logowelcome" src="images/logo.jpg">
    <!--Popular Points in categories that interest you-->
    <table style="width:100%">
        <tr>
            <th>
                <center>
                        <div class="MyfavoritePoints">  
                            <h1>popular points</h1> 
                            <div class="gallery">
                                    <img src="images/DamSquareA.jpg"  width="300" height="200">
                                    <div class="descL">Dam Square</div>
                                    
                            </div>
                            </br>
                            </br>            
                            <div class="gallery">
                                    <img src="images/VanGoghMuseumM.jpg" width="300" height="200">
                                    <div class="descL">Van Gogh Museum</div>
                            </div>
                            </br>
                            </br>
                        </div>
                </center>
                </br>
                </br>
                    
            </th>
            <th>
                <center>
                        <div class="MyfavoritePoints">  
                            <h1>popular points</h1> 
                            <div class="gallery">
                                    <img src="images/DamSquareA.jpg"  width="300" height="200">
                                    <div class="descL">Dam Square</div>
                            </div>
                            </br>
                            </br>
                    
                            <div class="gallery">
                                    <img src="images/VanGoghMuseumM.jpg" width="300" height="200">
                                    <div class="descL">Van Gogh Museum</div>
                            </div>
                            </br>
                            </br>
                        </div>
                </center>
            </br>
            </br>
               
            </th> 
        </tr>

    </table>
</br>
</br>   
</div>
    