
<div class="poi">
    <h2>Point details</h2>

    <div class="card">
      <img src="images/WaterloopleinS.jpg" style="width:100%">
      <h1>Waterlooplein</h1>
      <div class="icon">    
        <a> <i class="fa fa-info-circle"> Description</i></a>
        </br> 
        </br>
        <a> <i class="fa fa-eye"> 1000</i></a> 
        </br>
        </br>    
        <a> <i class="fa fa-thumbs-o-up"> 85%</i></a> 
        </br>
        </br>    
        <a> <i class="fa fa-commenting-o"> Review</i></a> 
        </br>
        </br>    
        <a> <i class="fa fa-commenting-o"> Review</i></a> 
        </br>
        </br>    
        <a> <i class="fa fa-heart"> Add to favorite list</i></a> 
        </br>
        </br>  
    
     </div>
    
    
    </div>
    </br>
</div>

