<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 

<div class="home" >
        </br>
        </br>
        <img class="logowelcome" src="images/logo.jpg">
        </br>
        </br>
        </br>
        </br>
        </br>
        <h1>user, sign up / login now and enjoy the right management of the places you plan to visit</h1>
        </br>
        </br>
        <a id="show_SignUp" href="#/register">Sign Up</a>
        <a id="show_login" href="#/login">Login</a> 
        </br>
        </br>



<h2>Popular points</h2>
        <table style="width:100%">
        <tr>
                <th>
                <center>
                        <div class="MyfavoritePoints">  
                                <div class="gallery" ng-click="getPoint(randomPoint[0])" data-toggle="modal" data-target="#homeModal">
                                        <img ng-src="images/{{randomPoint[0].Image}}.jpg"  width="300" height="200">
                                                <div class="desc">{{randomPoint[0].PointName}}</div>
                                </div>
                                                        
                                <div class="gallery" ng-click="getPoint(randomPoint[1])" data-toggle="modal" data-target="#homeModal">
                                        <img ng-src="images/{{randomPoint[1].Image}}.jpg"  width="300" height="200">
                                                <div class="desc">{{randomPoint[1].PointName}}</div>
                                </div>
                                                        
                                <div class="gallery" ng-click="getPoint(randomPoint[2])" data-toggle="modal" data-target="#homeModal">
                                        <img ng-src="images/{{randomPoint[2].Image}}.jpg"  width="300" height="200">
                                                <div class="desc">{{randomPoint[2].PointName}}</div>
                                </div>
                        </div>
                </center>
                </br>
                </br>
                        
                </th>
                 
        </tr>
        </table>


    
        <!-- Modal -->
        <div class="modal fade" id="homeModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h2>Point details</h2>
                    </div>
                      <div class="card">
                              <img ng-src="images/{{currPointB.Image}}.jpg" style="width:100%">
                              <h1>{{currPointB.PointName}}</h1>
                              <div class="icon">    
                                  <p> <i class="fa fa-info-circle"></i> Description: {{currPointB.Desrciption}}</p>                                                    
                                  <p> <i class="fa fa-eye"></i> Number of views: {{currPointB.NumberOfViews}}</p>                              
                                  <p> <i class="fa fa-thumbs-o-up"></i> Rating(%): {{currPointB.Rate}}</p>                              
                                  <p>Last reviews:</p>                             
                                  <p> <i class="fa fa-commenting-o"></i> 1. {{currPointB.Review1}}</p>                   
                                  <p> Date Written: {{currPointB.DateOfReview1}}</p>   
                                  <p> <i class="fa fa-commenting-o"></i> 2. {{currPointB.Review2}}</p> 
                                  <p> Date Written: {{currPointB.DateOfReview2}}</p>    
                                  <p> <i class="fa fa-heart"></i> Add to favorite list</p>  
                              </div>
                              
                              
                              </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
        </div>


</div>

</br>
</br>
</br>
</br>
</br>

